* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

table {
  border-collapse: collapse;
}

th  {
  text-align: left;
}

th *, td * {
  vertical-align: middle;
}

td {
  padding-left: 16px;
}

input[type="checkbox"] {
}

.inline {
  display: inline;
}

#canvas {
  margin: 48px;
}

#info, #score-h2, #opts-details {
  align-self: flex-start;
}

#theme-switch-container {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 4px;
}

/* -------------------*/

/* The switch - the box around the switch-slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The switch-slider */
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*
  -webkit-transition: .4s;
  transition: .4s;
  */
  border-radius: 34px;
}

.switch-slider:before {
  position: absolute;
  content: "";
  /*
  */
  background-color: white;
  /*
  -webkit-transition: .4s;
  transition: .4s;
  */
  border-radius: 50%;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
