@media screen and (min-width: 480px) {
  .switch-slider, #canvas-container {
    border-radius: 19px;
    background-color: palevioletred;
    border-color: lightcoral;
    border-style: inset;
  }
}

* {
  font-family: "Comic Sans MS", sans-serif;
}

body, #canvas {
  background-color: beige;
}

.switch-slider {
  background-color: palevioletred;
  border-color: lightcoral;
  border-style: inset;
}

.switch-slider:before {
  color: beige;
  height: 22px;
  width: 22px;
}

#canvas {
  border-radius: 19px;
}

.switch-slider:before, #canvas {
  border-style: outset;
  border-color: lightcyan;
}
