* {
  background-color: black;
  font-family: "BIZ UDMincho", "MS Mincho", serif;
  color: white;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 24px;
}

.switch-slider, #canvas-container, #canvas {
  border-radius: 19px;
  border-style: solid;
  border-color: white;
}

.switch-slider:before {
  left: 2px;
  top: 2px;
  height: 24px;
  width: 24px;
}
